<p id="notice"><%= notice %></p>


<h1 class="text-center ">Jobs</h1>
<table class="table table-bordered">
<thead class='bg-success text-light text-center'>
  <tr>
    <th>Role</th>
    <th>Description</th>
    <th>Count</th>
    <th>Apply</th>
  </tr>
</thead>
<tbody >
<% @jobs.each do |job| %>
  <tr>
    <td><%= job.role %></td>
    <td><%= job.description %></td>
    <td><%= job.count %></td>
    <% if job.has_applied?(current_user,job.id) %>
      <td><%= button_to "Applied" ,apply_path(job_id: job.id, job_role: job.role) ,class: "btn btn-primary" , disabled: true %></td>
    <% else %>
      <td><%= button_to "Apply" ,apply_path(job_id: job.id, job_role: job.role) ,method: "post" ,class: "btn btn-primary" %></td>
    <% end %>
  </tr>
<% end %>
</tbody>
</table>
 



