<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @job.role %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Count:</strong>
  <%= @job.count %>
</p>

<p>
  <strong>Image:</strong>
  <img src="<%= @job.image %>">
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
