<h1 class="text-center "><%= t('job_applications.index.jobs') %></h1>
<table class="table table-bordered">
  <thead class='text-light text-center'>
    <tr>
      <th><%= t('job_applications.index.role') %></th>
      <th><%= t('job_applications.index.mail') %></th>
    </tr>
  </thead>
  <tbody >
    <% @job_applications.each do |job_application| %>
      <tr>
        <td><%= job_application.role %></td>
        <td><%= job_application.username %></td>
      </tr>
    <% end %>
  </tbody>
</table>